{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}

    <br/>
    <div class="jumbotron">
    <h1 class="display-4">About Page</h1>
    <p class="lead">All that you need to know about Us is here</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Back to Articles</a> |  
    <!-- <a class="btn btn-primary btn-lg" href="{% url 'logout' %}"role="button">Log Out</a> -->
    </p>
    </div>

{% endblock content %}